body{
	padding:0;
	margin:0;
	background:url(nimi/nimi.jpg);
	background-size:cover;
	text-align:center;
	color:white;
 }

.profile{
	width:400px;
	
	
}
img{
	height:250px;
	border-radius:70%;
}